<footer class="footer">
  <nav class="navbar navbar-expand-md navbar-dark">
    <!-- Navbar content -->
    <div class="container">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" tabindex="0" href="https://www.companiesoffice.govt.nz/data-services/ways-to-get-our-data/bulk-data-access-agreement" target="_blank" translate>app.footer.disclaimer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" tabindex="0" href="https://www.companiesoffice.govt.nz/about-us/privacy" target="_blank" translate>app.footer.privacy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" tabindex="0" href="https://www.companiesoffice.govt.nz/data-services/ways-to-get-our-data" target="_blank" translate>app.footer.accessibility</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" tabindex="0" href="https://www.companiesoffice.govt.nz/about-us/copyright" target="_blank" translate>app.footer.copyright</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" tabindex="0" href="https://www.companiesoffice.govt.nz/contact-us"
               target="_blank" translate>app.footer.contact</a>
        </li>
      </ul>
    </div>
  </nav>
</footer>
